In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv(r"CSV/mobile_events_2020.csv",sep=';')

In [15]:
df.head()

,anonymous_id,business_zoned,context_app_version,context_device_id,context_os_name,event_name,received_at,created_at
0,9DDC5BCD-0477-4E83-A32A-51013DA0A4E7,Hamburg,3.1.13,7A718FF6-584F-40E2-939D-224231295B1E,iOS,Out-Of-Business Zone View Shown,2020-09-01 23:59:44,2020-09-01 23:59:18
1,5592E78E-CE87-4258-B8D7-DD834A687A1E,Hamburg,3.1.13,11D0CB16-DA38-4565-9C3B-066E7877856C,iOS,Application Opened,2020-09-01 23:59:41,2020-09-01 23:59:35
2,5592E78E-CE87-4258-B8D7-DD834A687A1E,Hamburg,3.1.13,11D0CB16-DA38-4565-9C3B-066E7877856C,iOS,Ride Done - Successful,2020-09-01 23:59:41,2020-09-01 23:59:37
3,5592E78E-CE87-4258-B8D7-DD834A687A1E,Hamburg,3.1.13,11D0CB16-DA38-4565-9C3B-066E7877856C,iOS,Application Opened,2020-09-01 23:59:36,2020-09-01 23:37:46
4,5592E78E-CE87-4258-B8D7-DD834A687A1E,Hamburg,3.1.13,11D0CB16-DA38-4565-9C3B-066E7877856C,iOS,Ride Done - Unsuccessful,2020-09-01 23:59:36,2020-09-01 23:37:52

In [16]:
print(df.columns.tolist())

['anonymous_id', 'business_zoned', 'context_app_version', 'context_device_id', 'context_os_name', 'event_name', 'received_at', 'created_at']

In [25]:
df['event_name'].value_counts()

Application Opened                     26047
Scooter Selected - Auto                 8735
Scooter Selected - User                 6999
Ride Started - Pre-Ride                 6693
Ride Done - Successful                  5165
                                       ...
Paypal Dialogue - Cancel Pressed          18
Customer Blocked - Phone Validation       16
Paypal Error Shown                        10
Location Services Dialogue Opened          8
Location Services Enabled                  8
Name: event_name, Length: 61, dtype: int64

In [30]:
scooter_event_names = [
    'Scooter Selected - Auto',
    'Scooter Selected - User',
    'Ride Started - Pre-Ride',
    'Ride Done - Successful'
]
filter_condition = df['event_name'].isin(scooter_event_names)
percentage = (filter_condition.sum() / len(df)) * 100
print(f"The percentage of sessions with an intention to book a scooter is: {percentage:.2f}%")

The percentage of sessions with an intention to book a scooter is: 26.94%

In [29]:
successful_booking_event_name = 'Ride Done - Successful'
filter_condition = df['event_name'] == successful_booking_event_name
percentage = (filter_condition.sum() / len(df)) * 100
print(f"The percentage of sessions with a successful booking is: {percentage:.2f}%")

The percentage of sessions with a successful booking is: 5.04%